.circles {
    background-color: #fafafa;
    display: inline-block;
    width: 59px;
    height: 59px;
    line-height: 35px;
    font-size: 22px;
    padding: 10px;
    font-weight: 500;
    margin: 5px;
    border: 2px solid black;
    border-radius: 50%;
}