.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-gen button {
  background-color: #f1f1f1;
  color: #3f3f3f;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  padding: 1em 1.5em;
  cursor: pointer;
  border: 2px solid #5b5b5b;
  box-shadow: 4px 4px 0 0 #4f4f4f;
}

.btn-gen button:hover {
  color: black;
  background-color: #e7e7e7;
  border-color: #000;
}

.btn-gen button:active {
  transition: all 0.04s ease-out;
  transform: translateY(4px) translateX(2px);
  box-shadow: 0 0 0 0 #4f4f4f;
}

.btn-gen {
  margin: 10% 0 50px 0;
}
